img {
  height: auto;
  max-width: 100%;
}

::selection {
  background-color: #EE4137;
  color: #fff;
}

@font-face {
  font-family: 'Ivy Mode';
  src: url('../fonts/IvyMode/IvyMode-SemiBold.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/Mark Simonson-ProximaNovaRegular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/MarkSimonson-ProximaNovaBold.otf');
  font-weight: bold;
  font-style: normal;
}


.container {
  padding-left: 20px;
  padding-right: 20px;
}


.navbar {
  padding: 1rem 0 9rem 0;
  @media screen and (max-width: 991px) {
    padding-bottom: 3rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 321px) {padding-bottom: 2rem;}
}

.section {padding: 5.5rem 0;}

.footer {
  padding: 7rem 0;
  color: $white;
  background-color: $primary;
  p {margin-bottom: 0;}
  h6 {font-weight: bold;}
  @media screen and (max-width: 767px) {padding: 4rem 0;}
  hr {
    border-color: #f8f9fa1f;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
}

.title {
  color: $primary;
  font-family: Ivy Mode;
  line-height: 1;
  margin-bottom: 6rem;
  //@media screen and (max-width: 767px) {/*font-size: 2.5rem;*/}

  .small {
    font-weight: 900;
    font-size: 20px;
    font-family: Proxima Nova;
    @media screen and (max-width: 767px) {font-size: 15px;}
  }
}

.section-bg {background-color: #fcfcfc;}

.decoration {
  position: absolute;
  left: -45px;
  top: 0;
}

.underline {
  border-bottom: solid 2px $danger;
  &-bold {text-decoration: underline $danger;}
}

.paragraph-sm {
  font-size: 18px;
  line-height: 2.1;
}

.bg-phone {
  @media screen and (max-width: 480px) {
    img {display: none;}
    height: 245px;
    background-image: url("../img/our-team-illustration.png");
    background-size: cover;
    background-position: center;
    margin-right: -5px!important;
    margin-left: -5px!important;
    width: 104%;
  }
}

.social-media img:hover {
  //transform: scale(1.3)
  animation: swing 1s ease;
  animation-iteration-count: 1;
}

.anim-arrow {
  animation-name: anim-arr;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}