img {
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'Ivy Mode';
  src: url('../fonts/IvyMode/IvyMode-SemiBold.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proxima-nova/Mark Simonson-ProximaNovaRegular.otf');
}

.navbar {padding: 2.5rem 2.5rem 13rem 2.5rem;}

.section {padding-top: 7rem;}
.section2 {padding: 7rem 0;}

.footer {
  color: $white;
  background-color: $primary;
  p {margin-bottom: 0;}
}

.title {
  color: $primary;
  font-family: Ivy Mode;
  line-height: 1;
  margin-bottom: 4rem;

  .small {
    font-size: 20px;
    font-family: Proxima Nova;
  }
}

.email {
  display: inline-block;
  border-bottom: solid 2px $danger;
}

a:hover {text-decoration: none}




