img {
  height: auto;
  max-width: 100%;
}

@font-face {
  font-family: 'Ivy Mode';
  src: url('../fonts/IvyMode/IvyMode-Bold.ttf');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima-nova/MarkSimonson-ProximaNovaBlack.otf');
}

.navbar {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  margin-bottom: 12rem;
}

.section {
  padding: 6rem 0;
}

.footer {
  padding: 6rem 15rem;
  color: $white;
  background-color: #0E0E0E;
}

.small {
  font-size: 20px;
  font-family: Proxima Nova;
}

