.btn {
  box-shadow:none !important;
  outline:0px !important;

  &-default {
    border-radius: 0;
    padding: .5rem 1.8rem;
  }

  &-outline-default {
    color: $danger;
    border: transparent;
    background-color: transparent;
    font-weight: 700;
  }
}