.btn {
  box-shadow:none !important;
  outline:0px !important;

  &-default {
    border-radius: 0;
    color: $danger;
    border: transparent;
    background-color: transparent;
    font-weight: 700;
    padding: .1rem .2rem;
  }
}