.header {
  position: relative;
  color: $primary;
  height: 65vh;
  background-color: #E6E7E8;
  background-image: url("../img/illustration.png");
  background-size: 55%;//80% 100%
  background-position: right bottom;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    background-size: 120%;
    background-position: bottom center;
  }

  h1 {
    font-family: Ivy Mode;
    margin-bottom: 1.5rem;
    font-weight: 900;
    @media screen and (max-width: 767px) {font-size: 2.5rem;}
  }

  p {
    font-size: $font-size-lg;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 767px) {font-size: 1rem}
  }
}