.header {
  position: relative;
  background: url("../img/illustration.png") right bottom / 55% no-repeat #E6E7E8;
  color: $primary;
  min-height: 65vh;
  @media screen and (max-width: 767px) {
    background-size: 120%;
    background-position: bottom center;
  }

  .wrap {
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  h1 {
    font-family: Ivy Mode;
    margin-bottom: 1.5rem;
    font-weight: 900;
    @media screen and (max-width: 767px) {font-size: 2.5rem;}
  }

  p {
    font-size: $font-size-lg;
    line-height: 1.8;
    margin-bottom: 1.5rem;
    @media screen and (max-width: 767px) {font-size: 1rem}
  }
}