.light-dark {
  position: relative;
  z-index: 20;
}

.burger {
  position: relative;
  z-index: 20;
  display: inline-block;
  margin-left: 1.5rem;
  cursor: pointer;
  vertical-align: middle;
  .line {
    height: 3px;
    width: 28px;
    //background-color: $primary;
    background-color: var(--primary);
    margin-bottom: .35rem;
  }
  .line1,
  .line2, 
  .line3 {transition: all .5s ease;}
  .line2 {
    width: 23px;
    margin-left: auto;
    //margin-bottom: .4rem;
  }
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 0;
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all .4s ease;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  transition: all .4s cubic-bezier(0, 0, 0.2, 1);
  opacity: 0;
  
  &-logo {
    position: absolute;
    top: 40px;
    left: 40px;
    @media screen and (max-width: 767px) {left: 15px;}
  }

  &-items {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    //color: $white;
    font-size: 35px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    transition: all .4s ease;
    transition-delay: .4s;
    @media screen and (max-width: 767px) {font-size: 1.5rem;}
    .list-item {
      margin-bottom: 1.5rem;
      text-align: center;
      transform: scale(0);
      transition: all .4s ease;
      a {
        display: inline-block;
        color: var(--white);
        //color: $white;
        &::after {
          content: '';
          display: block;
          height: 3px;
          width: 0;
          background-color: $danger;
          transition: all .5s ease;
        }
        &:hover::after {
          width: 100%;
          transition: all .5s ease;
        }
      }
    }
  }

  &-social {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    transition: all .4s ease;
    transition-delay: .8s;
  }
}

.check-1[type=checkbox]:checked ~ .overlay {
  z-index: 15;
  background-color: var(--primary);
  transform: scale(150);
}

.check-1[type=checkbox]:checked ~ .menu {
  z-index: 18;
  opacity: 1;
  
  .menu-items {
    opacity: 1;
    .list-item {transform: scale(1)}
  }
  .menu-social {
    transform: translateX(-50%) scale(1);
  }
}

.check-1[type=checkbox]:checked ~ .toggle-burger {
  //.burger {right: 22%;}
  .line {
    //background-color: $white;
    background-color: var(--white);
  }

  .line1 {
    transition: all .5s ease;
    //transform: translateY(9px) rotate(-405deg);
    transform: translateY(9px) rotate(-45deg);
    transform-origin:50% 50%;
  }
  .line2 {opacity: 0;}

  .line3 {
    transition: all .5s ease;
    //transform: translateY(-9px) rotate(405deg);
    transform: translateY(-9px) rotate(45deg);
    transform-origin:50% 50%;
  }
}